.holder {
  display: flex;
  justify-content: space-between; /* even space between items, first & last touch edges */
  flex-wrap: wrap; /* move to next row if more items added */
}

.item {
  flex: 0 0 auto; /* prevent squashing */
  background-color: lightblue;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid black;
  text-align: center;
}
